<footer class="page-footer white center" style="bottom:0;">
  <div class="footer-copyright">
    <div class="container">
         <b class="grey-text">copyright© {{year}} news alert</b>
    </div>
  </div>
</footer>
