<footer class="page-footer white" style="position:fixed;bottom:0;width:100%;">
  <div class="footer-copyright">
    <div class="row">
         <b class="grey-text">copyright© 2020 news alert</b>
    </div>
  </div>
</footer>
