<footer class="page-footer white center" style="position:fixed; width: 100%;bottom:0;">
  <div class="footer-copyright">
    <div class="row">
         <b class="grey-text">copyright© 2020 news alert</b>
    </div>
  </div>
</footer>
