<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper blue">
      <a href="#!" class="brand-logo center">News Alert</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/profile"><i class="material-icons">account_circle</i></a></li>
        <li><a href="/api/posts"><i class="material-icons ">local_library</i></a></li>
        <li><a href="/logout"><i class="material-icons">logout</i></a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="/profile">profile<i class="material-icons blue-text">account_circle</i></a></li>
    <div class="divider"></div>
    <li><a href="/api/posts">posts<i class="material-icons blue-text">local_library</i></a></li>
    <div class="divider"></div>
    <li><a href="/logout">logout<i class="material-icons blue-text">logout</i></a></li>
  </ul>
</div>
