<!-- <div class="row top-2">
  <a href="/api/posts" type="submit" class="btn right blue">back</a>
  <a href="/api/posts/create" type="submit" class="btn left blue">create post</a>
</div> -->
<nav>
  <div class="nav-wrapper blue">
    <a href="/" class="brand-logo right">Home</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="left hide-on-med-and-down">
      <li><a href="/api/posts">back</a></li>
      <li><a href="/api/posts/create">create post</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a href="/profile">profile</a></li>
  <li><a href="/api/posts">posts</a></li>
  <li><a href="/logout">logout</a></li>
</ul>
