{{>post}}
<div class="container" style="height:80vh">
  <div class="row">
    <form  action="/api/posts/edit/{{id}}" method="post" class="col s12">
      <input type="hidden" name="_method" value="PUT">
      <div class="row">
        <div class="input-field">
          <input type="text" name="title" required autocomplete="off" id="title" value="{{title}}">
          <label for="title">title</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field">
          <i class="material-icons prefix">mode_edit</i>
          <textarea name="post" rows="8" cols="100" required  placeholder="write a post..." id="textarea1" class="materialize-textarea">{{post}}</textarea>
          <label for="textarea1">Post</label>
        </div>
      </div>
      <div class="row">
        <button type="submit" class="btn btn-large waves-effect blue">update post</button>
      </div>
    </form>
  </div>
</div>
{{>footer}}
