<div class="container center" style="height:85vh">
  <h1 class="error-code">{{status}}</h1>
  <p id="error-message">Oops...{{message}}</p>
  <div class="options">
    <a href="/api/posts">Go back</a>
  </div>
</div>
{{>footer}}
