{{#if success}}
<div class="card-panel teal lighten-3 center white-text" style="margin-top:0;">
  {{success}}
</div>
{{/if}}
{{#if error}}
<div class="card-panel red lighten-2 center white-text"  style="margin-top:0;">
  {{error}}
</div>
{{/if}}
<h3 class="center header blue-text">LOGIN</h3>
<div class="container" style="height:75vh">
  <div class="row">
      <div class="center-align col s12 ">
        <div class="divider"></div>
        <form action="/login" method="POST">
          <div class="input-field">
            <input type="text" name="username" class="validate center" autocomplete="off">
            <label for="username" class="active">username</label>
            <span class="helper-text" data-error="wrong" data-success="right"></span>
          </div>
          <div class="input-field">
            <input type="password" name="password" class="validate center">
            <label for="password" class="active">password</label>
            <span class="helper-text" data-error="wrong" data-success="right"></span>
          </div>
          <button type="submit" class="btn btn-large blue hoverable">sign in</button>
        </form>
      <p>new to news alert?<a href="/signup"> sign up</a></p>
      </div>
  </div>
</div>
  {{>footer}}
