<h3 class="center header blue-text">LOGIN</h3>
<div class="container">
  <div class="row">
      <div class="center-align col s12 ">
        <div class="divider"></div>
        <form action="/login" method="POST">
          <div class="input-field">
            <input type="text" name="username" class="validate center" autocomplete="off">
            <label for="username" class="active">username</label>
          </div>
          <div class="input-field">
            <input type="password" name="password" class="validate center">
            <label for="password" class="active">password</label>
          </div>
          <button type="submit" class="btn btn-large blue hoverable">sign in</button>
        </form>
      <p>new to news alert?<a href="/signup"> sign up</a></p>
      </div>
  </div>
</div>
  {{>footer}}
