{{>post}}
<div class="container">
  <div class="card s12">
    <div class="card-content center">
      <span> <b>username</b> : <b>{{username}}</b></span>
    </div>
    <div class="divider"></div>
    <div class="card-content center">
      <span><b>email</b> : <b>{{email}}</b></span>
    </div>
    <div class="card-action center">
      <a href="/logout" class="blue-text">logout</a>
      <a href="/api/posts" class="blue-text">back</a>
    </div>
  </div>
</div>
{{>footer}}
