{{#if success}}
<div class="card-panel teal lighten-3 center white-text" style="margin-top:0;">
  {{success}}
</div>
{{/if}}
{{#if error}}
<div class="card-panel red lighten-2 center white-text"  style="margin-top:0;">
  {{error}}
</div>
{{/if}}
<h3 class="header center blue-text">SIGN UP</h3>
<div class="container">
  <div class="row">
    <div class="center-align col s12">
      <div class="divider"> </div>
      <form action="/signup" method="post">
        <div class="input-field">
          <input type="text" name="username" class="validate" autocomplete="off" id="username">
          <label for="username" class="active">username</label>
          <span class="helper-text" data-error="wrong" data-success="right"></span>
        </div>
        <div class="input-field">
          <input type="email" name="email" class="validate" autocomplete="off" id="email">
          <label for="email" class="active">email</label>
          <span class="helper-text" data-error="wrong" data-success="right"></span>
        </div>
        <div class="input-field">
          <input type="password" name="password" class="validate" autocomplete="off" id="password">
          <label for="password" class="active">password</label>
          <span class="helper-text" data-error="wrong" data-success="right"></span>
        </div>
        <div class="input-field">
          <input type="password" name="password2" class="validate" id="password2">
          <label for="password2" class="active"> enter password again</label>
          <span class="helper-text" data-error="wrong" data-success="right"></span>
        </div>
        <button type="submit" class="btn btn-large blue hoverable">sign in</button>
      </form>
      <p>already have an account? <a href="/login">sign in</a> </p>
    </div>
  </div>
</div>
{{>footer}}
