{{>post}}
<div class="container">
  {{#if result}}
    <div class="row">
      {{#each result}}
      <div class="col s12 l4">
        <div class="card">
          <div class="card-content center-align">
            <span class="card-title">{{title}}</span>
            <p>{{stripTags (truncate post 20)}}</p>
          </div>
          <div class="card-action center-align ">
            <a href="/api/posts/{{_id}}" class="blue-text text-darken">Read More</a>
          </div>
        </div>
      </div>
       {{/each}}
    </div>
    {{else}}
    <div class="center">
      <h1>No posts</h1>
      <a href="/api/posts/create" class="btn blue ">Add Post</a>
    </div>
    {{/if}}
</div>
{{>footer}}


































<!--  -->
